#titlebar { display: none; }
.urlbar-input-box { text-align: center; }
#nav-bar { margin: 0px; }
#urlbar:not([focused]) #urlbar-background { opacity: 0 !important; }

* {
    font-family: "cozette";
}

.browserContainer browser {
    border-radius: 0px !important;
    /* margin: 0vh 1vh 2vh 0vh; */
}

#navigator-toolbox {
    max-height: 1vh;
    
    & * {
        opacity: 0;
    }
}

#navigator-toolbox:hover {
    max-height: 100vh;
    height: auto;
    
    & * {
        opacity: 1;
    }
}
